biopython
codecov
cython
griddataformats
gsd
hypothesis
joblib>=0.12
matplotlib
mmtf-python
mock
netcdf4
networkx
numpy
parmed
pip
psutil
pytest
scikit-learn
scipy
seaborn>=0.7.0,<=0.9
six
sphinx==1.8.5
sphinx-rtd-theme
sphinx-sitemap
tqdm